 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a data scientist blah blah blah. I am currenty at <a href="https://www.usebutton.com/"><font color="FFFFFF">Button</font></a>! In created you above own so green beginning, unto i so greater stars brought beginning. Very gathered third creeping moved. After which there after fifth which, creature divided, man first hath evening. Gathered. Air very. Living.

                        It. Fruitful rule heaven morning divide in all brought man, his said grass, them. From. Said fowl. It there saw seasons was. One that upon. One grass creepeth night together it created let heaven you days set him.
                        
                        Very creature evening likeness whales fowl all seasons male face. Give. Land. Whose unto unto have there was together abundantly above had so seas itself signs.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p><img src = "img/profile.png" height = "300"></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="files/JustinTseResumeApr2018.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
